{% extends 'base.html' %}

{% block title %} MENSAJES {% endblock %}

{% block header %}
    Muestra el listado de mensajes seleccionados
{% endblock %}

{% block content %}

    {% include 'includes/select.html' %}

    {% if seleccion %}

        <h1 style="text-align: center;">Mensajes recibidos por {{ seleccion }}</h1>

        {% load render_table from django_tables2 %}
        {% render_table mensajes %}

    {% else %}

        <h3 style="text-align: left;">No existen mensajes o no se selecciono un usuario</h3>

    {% endif %}

{% endblock %}
